/* Primitive Button */

/* Auto layout */
/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px 12px 12px;
gap: 8px;

width: 163px;
height: 43px; */

/* Primary */
button {
  width: 163px;
  height: 43px;
  background: #4a8394;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
