/* Top Navigation Bar */

/* Auto layout */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  gap: 20px;

  position: absolute;
  width: 100%;
  height: 68px;
  left: 0px;
  top: 0px;

  /* Primary 2 */
  background: linear-gradient(89.98deg, #18a2ba 14.11%, #296377 86.26%);
}
